﻿@page
@model IndexModel 
@{     
    ViewData["Title"] = "ระบบรายงานข่าว";
 } 
 
 <div class="jumbotron"style = "background-color : darkgray"> 
     <center><h2>ระบบรายงานข่าวโดยประชาชนเพื่อประชาชน</h2><center>
 </div> 
 
 @foreach (var item in Model.NewsCategory){
    <div class="row">
        <h3>@Html.DisplayFor(model=>item.ShortName)</h3>
        <h4>@Html.DisplayFor(model=>item.FullName)</h4>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>วันที่เกิดเหตุ</th>
                    <th>เนื้อข่าว</th>
                    <th>สถานะการยืนยัน</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.News){
                    if(items.NewsCategoryID == item.NewsCategoryID){
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => items.ReportDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => items.NewsDetail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => items.NewsStatus)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
 