@page
@model Findforyou.Pages.LocationAdmin.CreateModel

@{
    ViewData["Title"] = "ร้านอาหาร";
}

<h2>เพิ่มชื่อร้านอาหาร</h2>

<h4>กรอกข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อร้านอาหาร
                <input asp-for="Location.LocationName" class="form-control" />
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดร้านอาหาร
                <input asp-for="Location.LocationDetail" class="form-control" />
                <span asp-validation-for="Location.LocationDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
