@page
@model Findforyou.Pages.LocationAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลร้านอาหาร";
}

<h2>ลบข้อมูลร้านอาหาร</h2>

<h3>คุณเเน่ใจว่าต้องการลบข้อมูลนี้</h3>
<div>
    <h4>ลบข้อมูล</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt>
            รายละเอียดร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationDetail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Location.LocationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
