@page
@model Findforyou.Pages.LocationAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดร้านอาหาร";
}

<h2>รายละเอียดร้านอาหาร</h2>

<div>
    <h4>รายละเอียดดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt>
            รายละเอียดร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationDetail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Location.LocationID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
