@page
@model Findforyou.Pages.LocationAdmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขข้อมูล";
}

<h2>เเก้ไขข้อมูลร้านอาหาร</h2>

<h4>เเก้ไขข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Location.LocationID" />
            <div class="form-group">
                ชื่อร้านอาหาร
                <input asp-for="Location.LocationName" class="form-control" />
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดร้านอาหาร
                <input asp-for="Location.LocationDetail" class="form-control" />
                <span asp-validation-for="Location.LocationDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
