@page
@model Findforyou.Pages.LocationAdmin.IndexModel

@{
    ViewData["Title"] = "ร้านอาหาร";
}

<h2>ร้านอาหาร</h2>

<p>
    <a asp-page="Create">เพิ่มชื่อร้านอาหาร</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อร้านอาหาร
            </th>
            <th>
                รายละเอียดร้านอาหาร
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationDetail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationID">เเก้ไขข้อมูล</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
