﻿@page 
@model IndexModel 
@{     
    ViewData["Title"] = "ระบบรายงานข่าว"; 
} 
<div class="jumbotron"style="background-color:gold">     
    <center><h2>ระบบหาเพื่อนไปทานข้าวเพื่อทุกคน</h2><center> 
</div> 
@foreach (var item in Model.Location){     
    <div class="row">         
        <h3>@Html.DisplayFor(model=>item.LocationName)</h3>         
        <h4>@Html.DisplayFor(model=>item.LocationDetail)</h4>     
        </div>  

<div class="row"> 
    <table class="table">
     <thead>
        <tr>    
             <th>ชื่อร้านอาหาร</th><th>วันนัดหมาย</th><th>ชื่อ-สกุล</th><th>ชื่อเล่น</th><th>เวลานัดหมาย</th><th>รายละเอียดเพิ่มเติม</th><th>Facebook</th><th>เบอร์โทรศัพท์</th>
        </tr>    
        </thead>
        <tbody>
                @foreach (var MyDataItem in Model.MyData) { 
            if(MyDataItem.LocationID == item.LocationID){
        <tr>             
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.MyDataCat.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => MyDataItem.TellNumber)
            </td>         
        </tr>
    
        }     
}
        </tbody> 
</table> 
</div> 
}





