@page
@model Findforyou.Pages.MyDatadmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูลผู้ใช้</h2>

<h3>คุณเเน่ใจว่าต้องการลบข้อมูลดังต่อไปนี้</h3>
<div>
    <h4>ลบข้อมูล</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.MyDataCat.LocationName)
        </dd>
        <dt>
            วันนัดหมาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Date)
        </dd>
        <dt>
            ชื่อ-สกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Name)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.NickName)
        </dd>
        <dt>
            เวลานัดหมาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Time)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Detail)
        </dd>
        <dt>
           Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Facebook)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.TellNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MyData.MyDataID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
