@page
@model Findforyou.Pages.MyDatadmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดผู้ใช้";
}

<h2>รายละเอียดผู้ใช้</h2>

<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อร้านอาหาร
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.MyDataCat.LocationName)
        </dd>
        <dt>
           วันนัดหมาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Date)
        </dd>
        <dt>
            ชื่อ-สกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Name)
        </dd>
        <dt>
            ชื่อเล่น
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.NickName)
        </dd>
        <dt>
           เวลานัดหมาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Time)
        </dd>
        <dt>
            รายละเอียดเพิ่มเติม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Detail)
        </dd>
        <dt>
            Facebook
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.Facebook)
        </dd>
        <dt>
            เบอร์โทรศัพท์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyData.TellNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MyData.MyDataID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
