@page
@model Findforyou.Pages.MyDatadmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขข้อมูลผู้ใช้";
}

<h2>เเก้ไขข้อมูลผู้ใช้</h2>

<h4>เเก้ไขข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyData.MyDataID" />
            <div class="form-group">
                ชื่อร้านอาหาร
                <select asp-for="MyData.LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="MyData.LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันนัดหมาย
                <input asp-for="MyData.Date" class="form-control" />
                <span asp-validation-for="MyData.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อ-สกุล
                <input asp-for="MyData.Name" class="form-control" />
                <span asp-validation-for="MyData.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเล่น
                <input asp-for="MyData.NickName" class="form-control" />
                <span asp-validation-for="MyData.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลานัดหมาย
                <input asp-for="MyData.Time" class="form-control" />
                <span asp-validation-for="MyData.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดเพิ่มเติม
                <input asp-for="MyData.Detail" class="form-control" />
                <span asp-validation-for="MyData.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                Facebook
                <input asp-for="MyData.Facebook" class="form-control" />
                <span asp-validation-for="MyData.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                เบอร์โทรศัพท์
                <input asp-for="MyData.TellNumber" class="form-control" />
                <span asp-validation-for="MyData.TellNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
