@page
@model Findforyou.Pages.MyDatadmin.IndexModel

@{
    ViewData["Title"] = "ข้อมูลผู้ใช้";
}

<h2>ข้อมูลผู้ใช้</h2>

<p>
    <a asp-page="Create">เพิ่มข้อมูลผู้ใช้</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                เลือกร้านอาหาร
            </th>
            <th>
                วันนัดหมาย
            </th>
            <th>
                ชื่อ-สกุล
            </th>
            <th>
                ชื่อเล่น
            </th>
            <th>
                เวลานัดหมาย
            </th>
            <th>
                รายละเอียดเพิ่มเติม
            </th>
            <th>
                Facebook
            </th>
            <th>
                เบอร์โทรศัพท์
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyDataCat.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TellNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MyDataID">เเก้ไขข้อมูล</a> |
                <a asp-page="./Details" asp-route-id="@item.MyDataID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.MyDataID">ลบข้อมูล</a>
            </td>
        </tr>
}
    </tbody>
</table>
