@using Microsoft.AspNetCore.Identity
@using Findforyou.Models
@inject SignInManager<MyDataUser> SignInManager
@inject UserManager<MyDataUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดีคุณ @UserManager.GetUserAsync(User).Result.FirstName  @UserManager.GetUserAsync(User).Result.LastName </a>
            </li>
            <li>                 
                <a href="/LocationAdmin">เพิ่มร้านอาหาร </a>             
            </li>             
            <li>                 
            <a href="/Mydatadmin"> เพิ่มชื่อผู้ใช้ </a>             
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
