@page
@model NewsReport.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข่าว";
}

<h2>ลบข่าว</h2>

<h3>คุณเเน่ใจว่าต้องการลบข่าวนี้</h3>
<div>
    <h4>ข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
            เวลาเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียดข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ละติจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
           ลองจิจูดจุดเกิดเหตุ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            สถานะข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
            โพสโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
